@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary-background: #101010;
  --color-primary-overlay: #181818;
  --color-secondary-overlay: #141414;
  --color-primary-text: #ffffff;
  --color-palette-yellow: #ffd230;
  --color-palette-sky: #0084d1;
  --color-primary-divider: #202020;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #141414 inset; /* match your bg-secondary-overlay */
  -webkit-text-fill-color: #ffffff; /* adjust as needed */
  transition: background-color 9999s ease-in-out 0s;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
