@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary-background: #101010;
  --color-primary-text: #ffffff;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-logo {
  transition: border-color 0.3s ease-in-out;
}

.user-logo:hover {
  border-color: #007fff;
  animation: rotateBorder 0.5s linear;
}
